In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [5]:
source = 'ota/0643/'
file_df = pd.DataFrame()
file=[]
if os.path.isdir(source):
    text_files = os.listdir(source)
    for text_file in text_files:
        file.append(text_file.split('.')[0])
file_df['filename'] = np.array(file)

In [6]:
file_df.head()

       filename
0  AAAREADMEDOC
1        ABODAT
2   APPLING1DAT
3   APPLING2DAT
4    ASHFORDDAT

In [7]:
file_df= file_df.iloc[1:]
file_df.head()

      filename
1       ABODAT
2  APPLING1DAT
3  APPLING2DAT
4   ASHFORDDAT
5   ASHFORDDOC

In [8]:
file_df.shape

(37, 1)

In [ ]:
text_files = os.listdir('ota/0643')
for text_file in file_df['filename']:
    filename = text_file.